@media screen and (max-width:1040px){
    .conteudo{
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    .conteudo.login::before{
        width: 100%;
        height: 40%;
        border-radius: 0;
        top: 0;
        left: 0;
    }
    .login .conteudo-right{
        padding: 10px;
    }
    .login{
        flex-direction: column-reverse;
        justify-content: space-around;
    }
    .titulo{
        font-size: 25px;      
    }
    .descricao{
        font-size: 16px;
        font-weight: 300;
        line-height: 20px;
        text-align: center;
        color: #fff;
    }
}