@media screen and (max-width:1040px){
    .conteudo{
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    .conteudo.login::before{
        width: 100%;
        height: 30%;
        border-radius: 0;
        bottom: 0;
        left: 0;
    }
    .conteudo-right{
        width: 100%;
        
    }
    .conteudo-left{
        width: 100%;
        bottom: 0;
    }

    .login{
        flex-direction: column;
        justify-content: space-between;
    }
    .titulo{
        font-size: 25px;      
    }
    .descricao{
        font-size: 16px;
        font-weight: 300;
        line-height: 20px;
        text-align: center;
        color: #fff;
    }
}
